# =========================
# IDE FILES
# =========================

.idea/
.vscode/
*.iml

# =========================
# FRONTEND
# =========================

ai-support-ui/node_modules/
ai-support-ui/dist/

# =========================
# BACKEND
# =========================

ai_support/target/

# =========================
# UPLOADS
# =========================

uploads/

# =========================
# ENV / SECRETS
# =========================

.env

# =========================
# SPRING CONFIG
# =========================

ai_support/src/main/resources/application.yml

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db